.page {
  min-height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.table-card {
  width: 90%;
  max-width: 1100px;
  background: #111;
  padding: 40px;
  border-radius: 18px;
  color: white;
}

h1 {
  text-align: center;
  font-size: 36px;
}

p {
  text-align: center;
  color: #ccc;
  margin-bottom: 20px;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  color: #ff8800;
  padding: 12px;
  border-bottom: 1px solid #333;
}

td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #222;
}

.badge {
  background: #ff8800;
  padding: 5px 10px;
  border-radius: 10px;
}

.view-btn {
  background: #ff8800;
  border: none;
  padding: 6px 14px;
  border-radius: 15px;
  color: white;
  cursor: pointer;
}

.no-data {
  text-align: center;
  color: #888;
}